<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SYNC - OVER - NETWORK</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style_media.css') }}"
    />
  </head>
  <body>
    <!-- header -->
    <header>SYNC - OVER - NETWORK</header>
    <!-- main -->
    <main>
      <!-- mainBox - Contains input form and output box -->
      <div class="mainBox">
        <div class="userInBox">
          <!-- Title -->
          <h2 class="title">Paste your clipboard</h2>
          <!-- Add Form -->
          <form action="/" method="get" id="pasteForm">
            <input
              type="text"
              name="clipText"
              id="clipTextID"
              autocomplete="off"
            />
            <button type="submit" id="addBtn">ADD</button>
          </form>
        </div>
        <div class="outBox">
          <!-- Title -->
          <h2 class="title">Your clipboard shared over network</h2>
          <div id="clipBox">
            <!-- dynamically added pastes -->
            
            <!-- <div id="setID()" class="paste">
              <div class="contentBox">${message}</div>
              <div class="removeBtn btn">Remove</div>
            </div> -->
          
          </div>
        </div>
      </div>

      <!-- Side panel -->
      <div class="box2">
        <!-- Buttons container -->
        <div class="btnContainer">
          <!-- Start server button -->
          <div id="syncBtn" class="controls">SYNC</div>
          <!-- Clean clipboard button -->
          <div id="cleanBtn" class="controls">Clean</div>
        </div>

        <!-- Guide -->
        <div class="guideBox">
          <h2 class="title">HOW TO USE?</h2>
          <p class="desc">
            This is a quick tutorial on how to use the SYNC - Over - Network app.</br>Open the webpage in the devices with which you wish to share your clipboard after running the server. 
Now, on the sending device, paste text into the input one by one, and then hit sync on the receiving device.</br>The "SYNC" button just syncs the clipboard with the most recent sender.</br>
Simply click the "clean" button to remove all of the pastes. </br>
To copy the message from the pastes, click on the pastes and the text will be copied to your device. </br>
To remove a single paste from the clipboard and press sync on the receiving device.</br>
          </p>
        </div>
      </div>
    </main>
    <!-- footer -->
    <footer>Made by thunder</footer>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
